<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IMath" />
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="NetTcpBinding_IMath" />
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/MathService/Math/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMath"
                contract="IMath" name="BasicHttpBinding_IMath" />
			<endpoint address="net.tcp://localhost:8082/Math" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMath" contract="IMath"
                name="NetTcpBinding_IMath">
				<identity>
					<userPrincipalName value="DESKTOP-LHBT2HI\Usuario" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>